.contacts {
  a {
    font-size: 5rem;
    margin: 30px;
  }
}


@media screen and (max-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;

    a {
      font-size: 7rem;
    }
  }
}
