.contacts {
  a {
    margin: 20px;

    img {
      height: 50px;
      width: 50px;
    }
  }
}


@media screen and (max-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
