.impress-enabled {
  .education-slide {
    flex-direction: column;

    text-align: center;

    .title {
      margin: 0;
    }

    .university {
      padding: 30px;
      border: solid 1px $normal;
      //background-color: rgba(255, 255, 255, 0.16);

      .name {
        margin: 0;
      }

      .details {
        margin: 20px 0 0 0;
      }
    }

    .equal-sign {
      transform: rotate(90deg);
      //margin: 0 20px 0 0;
    }

    .plus-sign {

    }
  }
}
