.impress-enabled {
  .education-slide {
    flex-direction: column;

    text-align: center;
    font-size: 2.5rem;

    .title {
      margin: 0;
      //border: solid 2px $normal;
      //padding: 20px;
    }

    .university {
      padding: 30px;
      border: dashed 2px $normal;
      //border-bottom: solid 2px $normal;
      //background-color: rgba(255, 255, 255, 0.16);

      .name {
        margin: 0;
      }

      .details {
        margin: 20px 0 0 0;
      }
    }

    .sign {
      margin: 20px;
      font-size: 2em;
    }

    .equal-sign {
      //transform: rotate(40deg);
      //margin: 0 20px 0 0;
    }

    .plus-sign {

    }

    .amplified {
      font-size: 4rem;
    }
  }
}
