.impress-enabled {
  .education-slide {
    flex-direction: column;

    text-align: center;
    font-size: 2.5rem;

    .title {
      margin: 0;
      border: solid 2px $amplified;
      padding: 40px;
    }

    .line {
      height: 100px;
      border-left: solid 2px $amplified;
    }

    .university {
      padding: 30px;
      //margin: 100px 0 0 0;
      border: solid 2px $amplified;
      //border-bottom: solid 2px $normal;
      //background-color: rgba(255, 255, 255, 0.16);

      .name {
        margin: 0;
      }

      .details {
        margin: 20px 0 0 0;
      }
    }

    //.sign {
    //  margin: 20px;
    //  font-size: 2em;
    //}

    //.equal-sign {
    //  //transform: rotate(40deg);
    //  //margin: 0 20px 0 0;
    //}
    //
    //.plus-sign {
    //
    //}

    .amplified {
      font-size: 4rem;
    }
  }
}
